.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.logo {
  cursor: pointer;
  font-size: 24px;
  margin: 20px;
}

.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.book {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 20px;
  padding: 20px;
  width: 300px;
}

.book img {
  width: 100%;
}

.book h2 {
  font-size: 20px;
  margin: 10px 0;
}

.book p {
  font-size: 16px;
  margin: 10px 0;
}

.book span {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}


.bookss {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.book1 {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 20px;
  padding: 20px;
  width: 300px;
}

.book1 img {
  width: 100%;
}

.book1 h2 {
  font-size: 20px;
  margin: 10px 0;
}

.book1 p {
  font-size: 16px;
  margin: 10px 0;
}

.book1 span {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.delete {
  background-color: #f44336;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.delete:hover {
  background-color: #d32f2f;
}

.update {
 background-color: #282c34;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px;
  transition: background-color 0.3s ease;
  width: 100%;
  background-image:url ('https://th.bing.com/th/id/OIP.MaFbiPxonpjp5MQDAumn7wHaE8?w=285&h=190&c=7&r=0&o=5&dpr=1.6&pid=1.7');
  background-repeat:no-repeat;
  background-size: cover;
}

.update:hover {
  background-color: #1976d2;
}
.book1 img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.book img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
 
nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
nav ul{
  background-color: #fbfbfc;
}

ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background-color: blue;
  color: white;
  padding: 10px 15px ;
  margin-left: 10px ;
  border-radius: 50px;
}

.image {
  max-width: 100px;
  margin-right: 1000px;
  border-radius: 25px;
}

.update{
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.update ul {
  list-style: none;
  padding: 150px;
  margin: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9fc;
  border-radius: 4px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  padding: 20px;
}

.update input[type="text"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.update input[type="button"] {
  background-color: #4CAF50;
  color:white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  border: 2px solid black;
  box-shadow: 2px 2px 2px #888888;
}

.update input[type="button"]:hover {
  background-color: #3e8e41;
}
.update h2{
  color: black;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

